 <main class="">
  <div class=" col d-lg-none ">
      <div class="main-1 flex-column  ">          
          <div class="main-1-section-2 col col-md-4">
            <p class="d-flex justify-content-center"></p>
          </div>
          <div class="main-1-section-1 col ">
            <h2 class="d-flex justify-content-center col">About Me</h2>
            <p class="d-flex justify-content-center  text-center col  p-4">Hello and welcome to my portfolio page. I will be continuously updating the page as I work on new materials. I am a student of the tech world such as software development, I have always been very big in art so I will have a section where will display my work, and I am also a huge animal activist. I do plan on starting a blog so please stay tuned. </p>
          </div>
        </div> 
      <div class="main-2 flex-column">
        <div onclick="location.href='https://github.com/RailonA/tictactoe';" style="cursor: pointer;" class="main-2-section-1 justify-content-center col">
          <p class="d-flex justify-content-center"></p>
        </div>
        <div class="main-2-section-2 col">
          <a href="">
            <h2 class="d-flex justify-content-center">GitHub</h2>
          </a>
          <p class="d-flex justify-content-center text-center  p-4">I’m currently a student at Microverse remote full stack software developer bootcamp
            I'm currently learning HTML&CSS
            Then Ruby, Ruby on Rails, JavaScript, React&Redux
            I have a strong background in Credit card processing business as tech support consultant.</p>
        </div>
      </div> 
      <div class=" main-3 flex-column">
        <div class="main-3-section-2 col">
          <p class="d-flex justify-content-center"></p>
        </div>
        <div class="main-3-section-1 col">
         <a href="./art_page.html">
           <h2 class="d-flex justify-content-center">Art</h2>
         </a>
          <p class="d-flex justify-content-center  text-center p-4">I have always felt that art has been the way I can free my soul, 
            It has been my way to sheld myself as well as express myself. I have always loved animals, and I enjoy the simplicity of mother nature, and through art I can travel the world
            while in the comfort of home. 
          </p>
        </div>
      </div>  
      </div>

      <div class=" d-none d-lg-block" >
        <div class="main-1 d-flex justify-content-center ">          
            <div class="main-1-section-2 col-2 mr-5 col-4">
            </div>
            <div class="main-1-section-1 col-6 ml-5">
              <h2 class="d-flex justify-content-center col">About Me</h2>
              <p class="d-flex justify-content-center  text-center col  p-4">Hello and welcome to my portfolio page. I will be continuously updating the page as I work on new materials. I am a student of the tech world such as software development, I have always been very big in art so I will have a section where will display my work, and I am also a huge animal activist. I do plan on starting a blog so please stay tuned. </p>
            </div>
          </div> 
        <div class="main-2 col justify-content-center">
          <div class="main-2-section-2 col-6">
            <a href="https://github.com/RailonA?tab=repositories">
              <h2 class="d-flex justify-content-center">GitHub</h2>
            </a>
            <p class="d-flex justify-content-center text-center  p-4">I’m currently a student at Microverse remote full stack software developer bootcamp
              I'm currently learning HTML&CSS
              Then Ruby, Ruby on Rails, JavaScript, React&Redux
              I have a strong background in Credit card processing business as tech support consultant.</p>
          </div>
            <div class="main-2-section-1 justify-content-center col-4"  onclick="location.href='https://github.com/RailonA/tictactoe';" style="cursor: pointer;" >
            </div>
        </div> 
        <div class="main-3 justify-content-center">
          <div class="main-3-section-2 col-4">
            <p class="d-flex justify-content-center"></p>
          </div>
          <div class="main-3-section-1 col-6">
            <a class="nav-link" href="/art">
              <h2 class="d-flex justify-content-center">Art</h2>
            </a>
            <p class="d-flex justify-content-center  text-center  p-4">I have always felt that art has been the way I can free my soul, 
              It has been my way to sheld myself as well as express myself. I have always loved animals, and I enjoy the simplicity of mother nature, and through art I can travel the world
              while in the comfort of home. 
            </p>
          </div>
        </div>  
        </div>
  
  


    </main>