<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
     New Email: <br>
    </p>
    <p> Name : <%= @user.name %></p>
    <p> E-mail : <%= @user.email %></p>
    <p> Message : <%= @user.body %></p>
  </body>
</html>
