<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear, <%= @user.name %></h1>
    <p>
      We have received your message and will be in touch soon! .<br>
    </p>
    <p> Your message : <%= @user.body %></p>
  </body>
</html>
