  <footer>
    <nav class="d-flex justify-content-around">
      <div class="d-flex justify-content-start  align-items-start col fab-div">
        <a href="https://www.facebook.com/RailonA.ArtStudio">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/railon.a/">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://twitter.com/RailonAcosta">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/in/railon-acosta/">
          <i class="fab fa-linkedin-in" ></i>
        </a>
        <a href="https://github.com/RailonA">
          <i class="fab fa-github"></i>
        </a>
    </div>
  
 <div class="col">
    <a href="/pdf/Railon AcostaResume.pdf" class="btn btn-dark text-light">Get My Resume</a>
  </div>

</div>  
</nav>
</footer>