  <footer>
    <nav class="d-flex">
    <div class="col footer-contact" >
      <p>Contact email:</p>
     <p>railonacosta@gmail.com</p>
     <p>Please follow for more content:</p>
     <div>
      <a href="https://www.facebook.com/RailonA.ArtStudio">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.instagram.com/railon.a/">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://twitter.com/RailonAcosta">
        <i class="fab fa-twitter"></i>
      </a>
    <a href="https://www.linkedin.com/in/railon-acosta/">
      <i class="fab fa-linkedin-in" ></i>
    </a>
    </div>
    </div>
    <div class="col" >
   <div class="footer-fab">
    <ul class="navbar-nav ">
      <li class="nav-item  ">
        <a class="nav-link " href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/RailonA?tab=repositories">Programming</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="art_page.html">Art</a>
      </li>
   </div>

</div>  
</nav>
</footer>