  <footer class="d-flex justify-content-center">
    <nav class="d-flex  col-6">
      
      <div class="d-flex  col-8">
        <a  class="d-flex col" target="_blank" href="https://www.facebook.com/RailonA.ArtStudio">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a  class="d-flex col" target="_blank" href="https://www.instagram.com/railon.a/">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="d-flex col"  target="_blank" href="https://twitter.com/RailonAcosta">
          <i class="fab fa-twitter"></i>
        </a>
        <a  class="d-flex col" target="_blank" href="https://www.linkedin.com/in/railon-acosta/">
          <i class="fab fa-linkedin-in" ></i>
        </a>
        <a class="d-flex col" target="_blank" href="https://github.com/RailonA">
          <i class="fab fa-github"></i>
        </a>
    </div>
  
    <div class="col">
      <a href="/pdf/Railon AcostaResume.pdf" class="btn btn-dark text-light">Get My Resume</a>
    </div>

</nav>
</footer>