<header  class="container-fluid mb-3 ">
<div class="header ">
  <nav class=" d-sm-flex d-md-none d-lg-none navbar navbar-expand-lg d-column d-lg-none">
      <div class="">
         <a class="navbar-brand" href="/"><h3>Railon Acosta</h3></a>
      </div>
      <div class="">
          <h5 class=" header-q">"Action is the foundational key to all success" - Pablo Picasso</h5>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon burger">
            <i class="fas fa-bars"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item ">
             <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="/about">About Me</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="https://github.com/RailonA?tab=repositories">Programming</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="/art">Art</a>
          </li>
        </ul>
      </div >

  </nav>

<nav class="navbar navbar-expand-md d-none d-md-flex d-flex justify-content-between col-12 ">
    <div class="d-column col-12">
      <a class="navbar-brand " href="/"><h1>Railon Acosta</h1></a>

      <h4 class="col header-q">"Action is the foundational key to all success" - Pablo Picasso</h4>

<div class= "d-flex">
      <div class=" collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/RailonA?tab=repositories">Programming</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/art">Art</a>
          </li>
        </ul>
      </div>

  <div class="d-xs-none d-sm-none d-md-flex d-lg-flex align-items-end col fab-div  d-flex justify-content-end">
    <a href="https://www.facebook.com/RailonA.ArtStudio">
     <i class="fab fa-facebook-f fa-lg"></i>
    </a>
    <a href="https://www.instagram.com/railon.a/">
      <i class="fab fa-instagram fa-lg"></i>
    </a>
    <a href="https://twitter.com/RailonAcosta">
     <i class="fab fa-twitter fa-lg"></i>
    </a>
    <a href="https://www.linkedin.com/in/railon-acosta/">
      <i class="fab fa-linkedin-in fa-lg" ></i>
    </a>
    <a href="https://github.com/RailonA">
      <i class="fab fa-github fa-lg"></i>
    </a>
  </div> 
    </div>

</nav>

  <div class="d-xs-flex d-sm-none d-md-none d-lg-none align-items-end col fab-div ">
    <a href="https://www.facebook.com/RailonA.ArtStudio">
     <i class="fab fa-facebook-f fa-sm"></i>
    </a>
    <a href="https://www.instagram.com/railon.a/">
      <i class="fab fa-instagram fa-sm"></i>
    </a>
    <a href="https://twitter.com/RailonAcosta">
     <i class="fab fa-twitter fa-sm"></i>
    </a>
    <a href="https://www.linkedin.com/in/railon-acosta/">
      <i class="fab fa-linkedin-in fa-sm" ></i>
    </a>
    <a href="https://github.com/RailonA">
      <i class="fab fa-github fa-sm"></i>
    </a>
  </div>
</div>

</header>
