<nav class="d-column "> 
    
    <div colass=" page-row-white  col-10  page-row-grey justify-content-center">
        
        <div class="page-row-white d-flex justify-content-center  d-lg-none">
                <div class="img-text col-10  justify-content-center">
                    <div class=" d-flex justify-content-center">   
                        <img class="self-img">
                    </div>
                    <div class="  page-div-white   d-flex justify-content-center">
                                            <p>Hello, my name is Railon Acosta, I am currently a student of Microverse which is an online curriculum for software developers.
                      I am gaining experience working remotely with students from all around the world, perfecting my technical skills as well as my 
                      soft skills. By the end of my journey with Microverse, I will be certified with HTML & CSS, Ruby, Database, Ruby on Rails, Javascript,
                       React & Redux. As much as I enjoy coding and programming, I also enjoy drawing, painting, graphic design, and photography.
                        </p>
                    </div>
                </div>
        </div>

        <div class="page-row-white col-12 d-flex justify-content-center  d-none d-lg-flex">
                <div class="img-text col-4  justify-content-center">
                    <div class=" d-flex justify-content-center col-10">   
                        <img class="self-img">
                    </div>
                </div>
                <div class="  page-div-white   d-flex justify-content-center col-7">
                                        <p class="col-10">Hello, my name is Railon Acosta, I am currently a student of Microverse which is an online curriculum for software developers.
                      I am gaining experience working remotely with students from all around the world, perfecting my technical skills as well as my 
                      soft skills. By the end of my journey with Microverse, I will be certified with HTML & CSS, Ruby, Database, Ruby on Rails, Javascript,
                       React & Redux. As much as I enjoy coding and programming, I also enjoy drawing, painting, graphic design, and photography. 
                       </p>
                </div>
        </div>
    </div>

    <div class="page-row-grey"> 
        <div>
            <p>Work Experiance</p>
            <div class ="page-div-grey ">
                <p>My last job title was Technical Support Specialist for a credit card processing company that was based in Manhattan, New York but they had merchants from all over America.
                I was hired to programmed credit card terminals and ship them to merchants, courtesy call the merchants after shipping the terminal and assisted them through the installation process.
                After a few months, I started assisting with business relations by networking with businesses and requesting information regarding their software,  hardware, and reseller programs.
                    After a year and a half, I was promoted to the Web Project Manager as well as the Marketing Project Manager. I worked on improving brand consistency throughout the website design 
                    as well as in their online presence, Facebook, Instagram, LinkedIn, and Yelp. I also helped ptimizing the front-end web application for user-friendly pages that maximum speed, 
                    scalability, and SEO.
                </p>
            </div>
        </div>
        <div>
                <p>Hobbies</p>
        </div>
    </div>
    <div class="page-row-white">
         <h3>Social Network</h3>

    <div>
         <h3>Social Network</h3>
         <p>img</p>
    </div>
    <div>
        <h3>Social Network</h3>
        <p>img</p>
    </div>
    <div>
        <h3>Social Network</h3>
        <p>img</p>
    </div>
    <div>
        <h3>Social Network</h3>
        <p>img</p>
    </div>
    <div>
        <h3>Social Network</h3>
        <p>img</p>
    </div>
    <div>
        <h3>Social Network</h3>
        <p>img</p>
    </div>

    </div>

</nav>




