<nav>
<h1>ABOUT ME <h1>
    <div>
        <div>
            <p>My everyday work is presented here, I do what I love. Who I am, what i do, and my social networks, connect with me.</p>
            <div>
                <p>img</p>
            </div>
        </div>
        <div>
            <p>A little about me</p>
        </div>
    </div>
    <div>
        <div>
            <p>Work Experiance</p>
        </div>
        <div>
                <p>Hobbies</p>
        </div>
    </div>
    <div>
         <h3>Social Network</h3>

    <div>
         <h3>Social Network</h3>
         <p>img</p>
    </div>
    <div>
        <h3>Social Network</h3>
        <p>img</p>
    </div>
    <div>
        <h3>Social Network</h3>
        <p>img</p>
    </div>
    <div>
        <h3>Social Network</h3>
        <p>img</p>
    </div>
    <div>
        <h3>Social Network</h3>
        <p>img</p>
    </div>
    <div>
        <h3>Social Network</h3>
        <p>img</p>
    </div>

    </div>

</nav>