

  .about_page-row-white {
    background-color: white;
    color: black;
    box-shadow: .2px .2px 20px white;
    padding: 20px;
  }

  .about_page-row-grey {
    background-color: #242424;
    color: white;  
    padding: 20px;
  }

  .about_page-div-white {
    background-color: white;
    color: black;
    box-shadow: .2px .2px 20px #242424;
    padding: 30px;
    margin: 30px;
    border-radius: 5%;
  }

  .about_page-div-grey {
    background-color: #242424;
    color: white;  
    box-shadow: .2px .2px 20px white;
    padding: 30px;
    margin: 30px;
    border-radius: 5%;
  }


  .self-img {
    background-image: asset-url("self01.jpg");
    border-radius: 5%;
    height:200px;
    width:200px;
    box-shadow: .2px .2px 20px #fc3903;
    background-size: 100% 100%;
  }

  .about_page-row-grey h3 {
   text-decoration: underline;
   font-weight: bold;
   margin: 20px;
  }

  .facebook-self-img {
    background-image: asset-url("art14.jpg");
    border-radius: 5%;
    height:200px;
    width:200px;
    box-shadow: .2px .2px 20px #fc3903;
    background-size: 100% 100%;
  }

  .instagram-self-img {
    background-image: asset-url("art-17.jpg");
    border-radius: 5%;
    height:200px;
    width:200px;
    box-shadow: .2px .2px 20px #fc3903;
    background-size: 100% 100%;
  }

  .twitter-self-img {
    background-image: asset-url("self-twitter.jpg");
    border-radius: 5%;
    height:200px;
    width:200px;
    box-shadow: .2px .2px 20px #fc3903;
    background-size: 100% 100%;
  }

  .linkedin-self-img {
    background-image: asset-url("self-link.jpg");
    border-radius: 5%;
    height:200px;
    width:200px;
    box-shadow: .2px .2px 20px #fc3903;
    background-size: 100% 100%;
  }

  .github-self-img {
    background-image: asset-url("self-github.jpg");
    border-radius: 5%;
    height:200px;
    width:200px;
    box-shadow: .2px .2px 20px #fc3903;
    background-size: 100% 100%;
  }