  .about_page-row-white {
    background-color: white;
    color: black;
    box-shadow: .2px .2px 20px white;
    padding: 20px;
  }

  .about_page-row-grey {
    background-color: #242424;
    color: white;  
    padding: 20px;
  }

  .about_page-row-grey h3 {
   color: white;
   text-decoration: none;
   font-weight: bold;
  }

  .about_page-row-white h3 {
    color: black;
    text-decoration: none;
    font-weight: bold;
   }

  .about_page-div-white {
    background-color: white;
    color: black;
    box-shadow: .2px .2px 20px #242424;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
  }

  .about_page-div-grey {
    background-color: #242424;
    color: white;  
    box-shadow: .2px .2px 20px white;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
  }


  .self-img {
    border-radius: 10px;
    height:200px;
    width:200px;
    box-shadow: .2px .2px 20px #242424;
    background-size: 100% 100%;
  }

 
  .facebook-self-img {
    border-radius: 10px;
    height:200px;
    width:200px;
    box-shadow: .2px .2px 20px #242424;
    background-size: 100% 100%;
  }

  .instagram-self-img {
    border-radius: 10px;
    height:200px;
    width:200px;
    box-shadow: .2px .2px 20px white;
    background-size: 100% 100%;
  }

  .twitter-self-img {
    border-radius: 10px;
    height:200px;
    width:200px;
    box-shadow: .2px .2px 20px #242424;
    background-size: 100% 100%;
  }

  .linkedin-self-img {
    border-radius: 10px;
    height:200px;
    width:200px;
    box-shadow: .2px .2px 20px white;
    background-size: 100% 100%;
  }

  .github-self-img {
    border-radius: 10px;
    height:200px;
    width:200px;
    box-shadow: .2px .2px 20px #242424;
    background-size: 100% 100%;
  }

  .social-network a {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }

  .social-network a:hover {
    color: black;
    font-weight: bold;
  }

  .social-network h3 {
    color: black;
    font-weight: bold;
    text-decoration: underline;
  }

  .social-network  .about_page-row-white  h5 {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
  }

  .social-network  .about_page-row-grey h5 {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
  }

  @media screen and (min-width: 360px) {
    .self-img {
      border-radius: 10px;
      height:80%;
      width:80%;
      box-shadow: .2px .2px 20px #242424;
      background-size: 100% 100%;
    }
  }

  @media screen and (min-width: 760px) {
    .self-img {
      border-radius: 10px;
      height:80%;
      width:80%;
      box-shadow: .2px .2px 20px #242424;
      background-size: 100% 100%;
    }

    .facebook-self-img,
    .instagram-self-img {
      box-shadow: .2px .2px 20px #242424;
    }

    .twitter-self-img,
    .linkedin-self-img {
      box-shadow: .2px .2px 20px white;
    }

    .github-self-img{
      box-shadow: .2px .2px 20px #242424;
    }


  }

  @media screen and (min-width: 990px) {
    .self-img {
      border-radius: 10px;
      height:80%;
      width:80%;
      box-shadow: .2px .2px 20px #242424;
      background-size: 100% 100%;
    }
    
    .aboutMe-S-One {
      height: 250px;
    }

    .facebook-self-img,
    .twitter-self-img,
    .instagram-self-img {
      box-shadow: .2px .2px 20px #242424;
    }

    .linkedin-self-img,
    .github-self-img {
      box-shadow: .2px .2px 20px white;
    }

  }

  @media screen and (min-width: 1400px) {
    .self-img {
      border-radius: 10px;
      height: 250px;
      width: 250px;
      box-shadow: .2px .2px 20px #242424;
      background-size: 100% 100%;
    }
    .aboutMe-S-One {
      height: 200px;
    }
  }