.art {
    height: 400px;
    padding: 0;
    margin: 0;
  }


  body img {
    margin: 20px;
    border-radius: 10px;

  }
  
  .art-6 {
    width: 800px;
  }

  .page-row-white {
    background-color: white;
    padding: 20px;
    margin: 0;
  }

  .page-row-white img {
    box-shadow: .2px .2px 20px #242424;

  }

  .page-row-grey {
    background-color: #242424;
    padding: 20px;
    margin: 0;
  }

  .page-row-grey img {
    box-shadow: .2px .2px 20px white;
  }

  .page-div-white {
    background-color: white;
    box-shadow: .2px .2px 20px #242424;
    padding: 20px;
    margin: 0;
  }

  .page-div-grey {
    background-color: #242424;
    padding: 20px;
    margin: 0;
  }

  @media screen and (min-width: 320px) {
    .main-3-Art {
      height: 750px;
    }

    .self-artPic{
      height: 200px;
      width: 300px;
    }
  }

  @media screen and (min-width: 375px) {
    .main-3-Art {
      height: 650px;
    }

    .self-artPic{
      height: 200px;
      width: 200px;
    }
  }

  @media screen and (min-width: 760px) {
    .main-3-Art {
      height: 650px;
    }
    
    .self-artPic{
      height: 300px;
      width: 450px;
    }
  }

  @media screen and (min-width: 1000px) {
    .main-3-Art {
      height: 650px;
    }
    
    .self-artPic{
      height: 300px;
      width: 450px;
    }
  }

  @media screen and (min-width: 1400px) {
    .main-3-Art {
      height: 600px;
    }

    .self-artPic{
      height: 300px;
      width: 450px;
    }
  }