.art {
    height: 400px;
    padding: 0;
    margin: 0;
  }

  body img {
    margin: 20px;
    box-shadow: .2px .2px 20px #fc3903;
    border-radius: 10px;

  }
  .art-6 {
    width: 800px;
  }

  .page-row-white {
    background-color: white;
    box-shadow: .2px .2px 20px white;
    padding: 20px;
    margin: 0;
  }

  .page-row-grey {
    background-color: #242424;
    padding: 20px;
    margin: 0;
  }

  .page-div-white {
    background-color: white;
    box-shadow: .2px .2px 20px #242424;
    padding: 20px;
    margin: 0;
  }

  .page-div-grey {
    background-color: #242424;
    padding: 20px;
    margin: 0;
  }