footer {
    background-color: #000000;
    box-shadow: .2px .2px 20px #242424;
    padding:20px;
    }

footer,
footer a,
footer .nav-link {
    color: white;
    font-weight: bold;
}

footer a:hover,
.fab:hover {
    color: white;
    font-weight: 900;
    font-size: 20px;
  }

 

  .fab {
    font-size: 15px;
    display: flex;
    margin-right: 5px;
  }

.footer-fab {
    font-size: 15px;
    margin-left: 15px;
}

.footer-contact {
    font-size: 15px;

}

@media screen and (min-width: 768px) {

    .footer-fab {
        font-size: 20px;
        margin-left: 0;
    }

    .footer-contact {
    font-size: 20px;
    margin-left: 0;
}

    footer a:hover {
    color: white;
    font-size: 20px;
    font-weight: 900;
    }

    .fab {
        font-size: 30px;
        display: flex;
        margin-right: 20px;
    }

    .fab-div {
        margin-right: 10%;
      }
}