header {
  background-color: black;
  background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), asset-url("thomas-habr-6NmnrAJPq7M-unsplash.jpg");
  background-size: 100% 170%;
  box-shadow: .2px .2px 20px #242424;
}

header h1,
header h3,
header h4,
header h5,
header a,
header .nav-link,
.fab, 
.fas {
  background-color: transparent;
    color: white;
    font-weight: bold;
}

header a {
  font-size: 20px;
  font-weight: 300px ;
 }

header a:hover, 
.fab:hover {
  color: #0066cc;
  font-weight: 900;
}

.fab {
  font-size: 30px;
  display: flex;
}

.fab-div {
  margin-right: 10%;
}

a:hover, a:focus, a:active, a:visited, a:link{
  text-decoration: none;
}

@media screen and (min-width: 320px) {
  .header-q {
   width: 80%;
  }
}

@media screen and (min-width: 375px) {
  .header-q {
   width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .fab {
    height: 20px;
    display: flex;
  }
  
  .header-q {
   width: 420px;
  }

  .navbarSupportedContent {
   width: 400px;
  }
}

@media screen and (min-width: 1000px) {
  .fab {
    font-size: 20px;
    display: flex;
  }
  
  .header-q {
   width: 720px;
  }
}

@media screen and (min-width: 1400px) {
  .fab {
    font-size: 20px;
    display: flex;
  }
  
  .header-q {
   width: 1400px;
  }
}

@media screen and (min-width: 1400px) {
  .fab {
    font-size: 20px;
    display: flex;
  }
  
  .header-q {
   width: 1400px;
  }
}