body {
    background-color: white;
  }



  .main-1,
  .main-2,
  .main-3 {
    height: 500px;
    display: flex;
    align-items: center;
    padding: 20px;
  
  }
  

  .main-1-section-1,
  .main-1-section-2,
  .main-2-section-1,
  .main-2-section-2,
  .main-3-section-1,
  .main-3-section-2 {
    margin: 10px;  
  }
  
  .main-1-section-2,
  .main-2-section-1,
  .main-3-section-2 {
     color: #fc3903;
     width:400px;
     box-shadow: .2px .2px 20px #fc3903;
     background-size: 100% 100%;
     margin: 30px;
  }
  
  .main-1-section-2:hover,
  .main-2-section-1:hover,
  .main-3-section-2:hover {
    color: #fc3903;
  }
  
  
  .main-2-section-2
  {
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: .2px .2px 20px black;
  }
  
  
  .main-1-section-1,
  .main-3-section-1 {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: .2px .2px 20px white;
  }
  
  .main-1-section-1,
  .main-3-section-1 {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: .2px .2px 20px white;
  
  }

  .main-1-section-1 h2,
  .main-2-section-2 h2,
  .main-3-section-1 h2 {
  font-size: 20px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
  
  }
  
  .main-1-section-2 {
    background-image: asset-url("prof_img.jpg");
    border-radius: 50%;
    width:200px;
  }
  
  .main-2-section-1 {
    background-image: asset-url("planeGame.png");
    border-radius: 10px;
  
  }
  
  .main-3-section-2 {
    background-image: asset-url("self-art.jpg");
    border-radius: 10px;

  }
  
 

  .page-row-white {
    background-color: white;
    color: black;
    box-shadow: .2px .2px 20px white;
    padding: 20px;
  }

  .page-row-grey {
    background-color: #242424;
    color: white;  
    padding: 20px;
  }

  .page-row-white h2 {
    font-size: 20px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
    color: black;
  }

  .page-row-grey h2{
    font-size: 20px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
    color: white;
  }

  .page-div-white {
    background-color: white;
    color: black;
    box-shadow: .2px .2px 20px #242424;
    padding: 10px;
    margin-bottom: 200px;
  }

  .page-div-grey {
    background-color: white;
    color: white;  
    padding: 10px;
    margin: 30px;
  }

  
  

  @media screen and (min-width: 320px) {
    .main-1 {
      height: 700px;
      display: flex;
      align-items: center;
    }
    
    .main-2  {
      height: 800px;
      display: flex;
      align-items: center;
    }

    .main-3  {
      height: 800px;
      display: flex;
      align-items: center;
    }
    
  
  
  .main-1-section-1 {
    height:600px;
  
  }

  .main-1-section-2 {
    background-image: asset-url("prof_img.jpg");
    border-radius: 50%;
    width: 200px;
    height:500px;

  }
  
  .main-2-section-1 {
    background-image: asset-url("planeGame.png");
    border-radius: 10px;
    width: 80%;

  }
  
  .main-3-section-2 {
    background-image: asset-url("self-art.jpg");
    border-radius: 10px;
    width: 80%;

  }


    
  }
  
  
  @media screen and (min-width: 760px) {
    .main-1 {
      height: 700px;
      display: flex;
      align-items: center;
      
    }
    
    .main-2  {
      height: 600px;
      display: flex;
      align-items: center;

    }
    .main-3  {
      height: 600px;
      display: flex;
      align-items: center;
  
    }
 
  
    .main-1-section-1,
    .main-2-section-2,
    .main-3-section-1 {
   
       width:650px;
    }
    .main-1-section-2 {
        background-image: asset-url("prof_img.jpg");
        border-radius: 50%;
        width:300px;
        height:300px;
      }

      .main-2-section-1,
      .main-3-section-2 {
         color: #fc3903;
         box-shadow: .2px .2px 20px #fc3903;
         background-size: 100% 100%;
         width:500px;
      }
  
  }
  
  @media screen and (min-width: 991px) {
  
    .main-1,
    .main-2,
    .main-3 {
      height: 400px;
      display: flex;
      align-items: center;
    
    }
  
    .main-1-section-2,
    .main-2-section-1,
    .main-3-section-2 {
       color: #fc3903;
       box-shadow: .2px .2px 20px #fc3903;
       background-size: 100% 100%;
       height: 200px;
      
    }


    .main-1-section-2 {
      background-image: asset-url("prof_img.jpg");
      border-radius: 50%; 
      margin-right: 50px;

     }
  
  .main-1-section-1,
  .main-3-section-1 {
    box-shadow: .2px .2px 20px white;
    margin-bottom: 20px;
    height: 300px;
  }
  
  .main-2-section-2 {
    box-shadow: .2px .2px 20px black;
    margin-bottom: 20px;
    height: 300px;
  }
  
  .main-1-section-2 {
    background-image: asset-url("prof_img.jpg");
    border-radius: 50%;
    height:300px;

  }
  
  .main-2-section-1 {
    background-image: asset-url("planeGame.png");
    border-radius: 10px;
    width:30%;
    height:300px;
  }
  
  .main-3-section-2 {
    background-image: asset-url("self-art.jpg");
    border-radius: 10px;
    width:30%;
    height:300px;
  }
  
  
  }