body {
    background-color: white;
  }

  .main-1,
  .main-2,
  .main-3 {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .line {
    border-top:3px solid black ;
    border-bottom:3px solid black ;
    margin: 20px 0 20px 0;
    padding: 20px 0 20px 0;
  }

  .logo-p {
    margin: 0 10px;
  }

  .main-1-section-1,
  .main-1-section-2,
  .main-2-section-1,
  .main-2-section-2,
  .main-3-section-1,
  .main-3-section-2 {
    margin: 10px;  
  }
  
  .main-1-section-2,
  .main-3-section-2 {
     width:400px;
     box-shadow: .2px .2px 20px #242424;
     background-size: 100% 100%;
     margin: 30px;
  }

  .main-2-section-1 {
     width:400px;
     box-shadow: .2px .2px 20px white;
     background-size: 100% 100%;
     margin: 30px;
  }
  
  .main-2-section-2
  {
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: .2px .2px 20px white;
  }
  
  .main-1-section-1,
  .main-3-section-1 {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: .2px .2px 20px white;
  }
  
  .main-1-section-1,
  .main-3-section-1 {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: .2px .2px 20px white;
  }

  .main-1-section-1 h2,
  .main-2-section-2 h2,
  .main-3-section-1 h2 {
  font-size: 20px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
  }
  
  .main-1-section-2 {
    border-radius: 50%;
    width:200px;
  }
  
  .main-2-section-1 {
    border-radius: 10px;
    width: 80%;
    height: 80%
  }
  
  .main-3-section-2 {
    border-radius: 10px;

  }

  .page-row-white {
    background-color: white;
    color: black;
    box-shadow: .2px .2px 20px white;
    padding: 20px;
  }

  .page-row-grey {
    background-color: #242424;
    color: white;  
    padding: 20px;
  }

  .page-row-white h2 {
    font-size: 20px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
    color: black;
  }

  .page-row-grey h2{
    font-size: 20px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
    color: white;
  }

  .page-div-white {
    background-color: white;
    color: black;
    box-shadow: .2px .2px 20px #242424;
    padding: 10px;
    margin-bottom: 200px;
    border-radius: 10px;
  }

  .page-div-grey {
    color: white;  
    padding: 10px;
    margin: 30px;
  }

  
  @media screen and (min-width: 320px) {
    .main-1 {
      height: 950px;
      display: flex;
      align-items: center;
    }
    
    .main-2  {
      height: 2300px;
      display: flex;
      align-items: center;
    }

    .main-3  {
      height: 600px;
      display: flex;
      align-items: center;
    }
  
    .logo-p {
      font-size: 10px;
      font-weight: bold;
    }

    .main-1-section-1 {
      height:600px;
    }

    .main-1-section-2 {
      border-radius: 50%;
      width: 150px;
      height:250px;
    }
    
    .main-2-section-1 {
      border-radius: 10px;
      width: 80%;
      height: 80%
    }
    
    .main-3-section-2 {
      border-radius: 10px;
      width: 80%;
    }

    .project-section {
      margin: 20px;
    }

    .project_1,
    .project_2,
    .project_3,
    .project_4 {
      box-shadow: .2px .2px 20px white;
      padding: 20px;
      border-radius: 10px;
      margin: 30px 0 10px 0;
    }


    .project_1 a,
    .project_2 a,
    .project_3 a,
    .project_4 a {
      color: white;
    }

    .project_1 a:hover,
    .project_2 a:hover,
    .project_3 a:hover,
    .project_4 a:hover {
      color: white;
    }

    .project_1_img,
    .project_2_img,
    .project_3_img,
    .project_4_img {
    width: 200px;
    height: 200px;
    }
    
  }
  
  @media screen and (min-width: 370px) {
    .main-1 {
      height: 950px;
      display: flex;
      align-items: center;
    }
    
    .main-2  {
      height: 2190px;
      display: flex;
      align-items: center;
    }

    .main-3  {
      display: flex;
      align-items: center;
    }
    
  .main-1-section-1 {
    height:600px;
  }

  .main-1-section-2 {
    border-radius: 50%;
    width: 150px;
    height:250px;
  }
  
  .main-2-section-1 {
    border-radius: 10px;
    width: 80%;
    height: 80%
  }
  
  .main-3-section-2 {
    border-radius: 10px;
    width: 70%;
  }
  .project_1_img,
  .project_2_img,
  .project_3_img,
  .project_4_img {
   width: 200px;
   height: 200px;
  }

}
  
  @media screen and (min-width: 580px) {
    .main-1  {
      height: 600px;
    }

    .main-2  {
      height: 2020px;
    }

    .main-3  {
      display: flex;
      align-items: center;
    }

    .main-3-section-2 {
      width:60%;
      height:300px;
    }
  }

  @media screen and (min-width: 760px) {
    .main-1 {
      height: 600px;
      display: flex;
      align-items: center;
    }
    
    .main-2  {
      height: 1220px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .main-3  {
      display: flex;
      align-items: center;
    }

    .logo-p {
      font-size: 20px;
      font-weight: bold;
      margin-right: 20px;
    }
 
    .main-1-section-1,
    .main-2-section-2,
    .main-3-section-1 {
       width:650px;
    }

    .main-1-section-2 {
        border-radius: 50%;
        width:250px;
        height:300px;
      }

      .main-2-section-1 {
         box-shadow: .2px .2px 20px white;
         background-size: 100% 100%;
         width:500px;
      }
  
      .main-3-section-2 {
        height:300px;
        box-shadow: .2px .2px 20px #242424;
        width:350px;
        height:300px;
      }

      .project_1,
      .project_2,
      .project_3,
      .project_4 {
        margin: 10px;
      }

  }
  
  @media screen and (min-width: 991px) {
    .main-1,
    .main-3 {
      display: flex;
      align-items: center;
    }

    .main-2 {
      height: 2000px;
    }

    .main-1-section-2,
    .main-2-section-1,
    .main-3-section-2 {
       box-shadow: .2px .2px 20px white;
       background-size: 100% 100%;
       height: 200px;
    }

    .main-1-section-2 {
      border-radius: 50%; 
      margin-right: 50px;
      box-shadow: .2px .2px 20px #242424;
     }
    
    .main-1-section-1,
    .main-3-section-1 {
      box-shadow: .2px .2px 20px white;
      margin-bottom: 20px;
      height: 300px;
    }
    
    .main-2-section-2 {
      box-shadow: .2px .2px 20px white;
      margin-bottom: 20px;
      height: 300px;
    }
    
    .main-1-section-2 {
      border-radius: 50%;
      height:300px;
    }
    
    .main-2-section-1 {
      border-radius: 10px;
      width:90%;
      height:250px;
      width: 250px;
    }
    
    
    .main-3-section-2 {
      border-radius: 10px;
      width:80%;
      height:300px;
      box-shadow: .2px .2px 20px #242424;
    }
  }


  @media screen and (min-width: 1000px) {
    .main-1 {
      height: 650px;
    }  
    
    .main-2 {
      height: 1200px;
    }
    
    .main-3 {
      height: 600px;
    }
  }

  @media screen and (min-width: 1300px) {
    .main-1 {
      height: 650px;
    }  
    
    .main-2 {
      height: 1100px;
    }
    
    .main-3 {
      height: 600px;
    }
  }